@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Calc things*/

.calculator-container {
  display: flex;
  justify-content: space-around; /* Adjust the spacing between elements */
}

.calculator {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 325px;
  text-align: center;
}

.display {
  background: #f2f2f2;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #333
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns, adjust the column count as necessary */
  gap: 0.5rem;
  color: #333
  
}

button {
  background: #e2e2e2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background: #d2d2d2;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}
.formula-display {
  margin-left: 20px; 
  border-left: 1px solid #ccc; 
  padding-left: 20px;
  white-space: pre-wrap;
}

.formula {
  
  white-space: nowrap;
  overflow: auto; 
  max-height: 100px; 
}